    <!-- Banner -->   
      <section id="banner" class="banner_sign_up background_sign_up">
        
        <!--
          ".inner" is set up as an inline-block so it automatically expands
          in both directions to fit whatever's inside it. This means it won't
          automatically wrap lines, so be sure to use line breaks where
          appropriate (<br />).
        -->
        <div class="inner">
          
          <header>
            <h2>PICADAY</h2>
          </header>
          
          <form method="post" action="/images">
                <div>

                  <input type="text" name="email" placeholder="email" value="<%= @image && @image.url %>">
                </div>
                <div>

                  <input type="password" name="password" placeholder="password" value="<%= @image && @image.title %>">
                </div>
            </form>

          <footer>
            <ul class="buttons vertical">
              <li><a href="/" class="button fit scrolly">Create Account</a></li>
            </ul>
          </footer>
        </div>

      </section>
    