.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}


.margin-bottom-1 {
  margin-bottom: 1em;
}

.button.header-link {
  font-size: 1em;
  min-width: 0;
  width: auto;
  border: solid 1px transparent;
  color: inherit;
  display: inline-block;
  padding: 0em 0.75em;
  text-decoration: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.background-color-1 {
  background-color: rgba(45, 231, 135, 0.9);
}

.button.special.background-color-1 {
  background-color: rgba(45, 231, 135, 0.9);
}

.center-text {
  text-align: center;
}

header.special h1.center-text {
  text-align: center;
  float: none;
  display: inline-block;
}