<section class="wrapper style2 container special-alt">
  <div class="row half">
    <div class="8u">
    <header>
        <h2>Behold the <strong>icons</strong> that visualize what you’re all about. or just take up space. your call bro.</h2>
    </header>
      
   <div class="challenges-masonry clearfix">
      <% @challenges.each do |challenge| %>
        <div class="challenge-list-item">
        <div class="challenge-list-item-container">
          <a href="/challenges/<%=challenge.id%>" class="block border-none">
            <h2 class="small-heading"><%=challenge.name%></h2>
          </a>
        </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</section>

