<form method="post" action="/images">
  <div>
    <label>Url</label>
    <input type="text" name="url" value="<%= @image && @image.url %>">
  </div>
  <div>
    <label>Title</label>
    <input type="text" name="title" value="<%= @image && @image.title %>">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>