<section class="wrapper style2 container special-alt">
  <div class="row half">
    <div class="8u">
      <div class="challenge-list-item">
        <a href="/challenges/<%=@challenge.id%>">
        <div class="challenge-list-item">
          <p><%=@challenge.name%></p>
          <date><%=@challenge.date.to_s%></date>
        </div>
        </a>
      </div>
    </div>
  </div>
</section>