<section id="banner" class="banner_404 background_404">
        
        <!--
          ".inner" is set up as an inline-block so it automatically expands
          in both directions to fit whatever's inside it. This means it won't
          automatically wrap lines, so be sure to use line breaks where
          appropriate (<br />).
        -->
        <div class="fourofour">
          
          <header>
            <h2>four o' four</h2>
          </header>
          
          <p> oops. </p>
        </div>

</section>