<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="/stylesheets/demo.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <link rel="stylesheet" href="/stylesheets/skel.css" />
  <link rel="stylesheet" href="/stylesheets/front_page.css" />
  <!-- <link rel="stylesheet" href="/stylesheets/style-noscript.css" /> -->
  <script src="/javascript/modernizr.custom.70736.js"></script>
  <title>Picaday</title>
</head>
<body>

<!-- Header -->
<header id="header" class="alt">
  <nav id="nav" class="float-left clearfix">
    <ul>
      <li class="current"><a href="/">Picaday</a></li>
      <%if @current_user.nil? %>
        <li><a href="/auth/sign_up" class="button special">Sign up</a></li>
      <% end %>
    </ul>
  </nav>
  <nav id="nav" class="float-right clearfix">
    <ul>
      <li class="current"><a href="/images">Actions</a></li>
      <li class="submenu">
        
        <ul>
          <li><a href="left-sidebar.html">Left Sidebar</a></li>
          <li><a href="right-sidebar.html">Right Sidebar</a></li>
          <li><a href="no-sidebar.html">No Sidebar</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li class="submenu">
            <a href="">Submenu</a>
            <ul>
              <li><a href="#">Dolore Sed</a></li>
              <li><a href="#">Consequat</a></li>
              <li><a href="#">Lorem Magna</a></li>
              <li><a href="#">Sed Magna</a></li>
              <li><a href="#">Ipsum Nisl</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <% if @current_user %>
        <li><a href="/logout" class="button special">Sign out</a></li>
      <% else %>
        <li><a href="/auth/sign_in" class="button special">Sign in</a></li>
      <% end %>
    </ul>
  </nav>
</header>


  <%= yield %>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script> 
</body>



</html>
