<header id="header" class="alt">
  <nav id="nav" class="float-left">
    <ul>
      <li class="current"><a href="/">Picaday</a></li>
      <li><a href="/auth/sign_up" class="button special">Sign up</a></li>
    </ul>
  </nav>
  <nav id="nav" class="float-right">
    <ul>
      <li class="current"><a href="/images">Welcome</a></li>
      <li class="submenu">
        
        <ul>
          <li><a href="left-sidebar.html">Left Sidebar</a></li>
          <li><a href="right-sidebar.html">Right Sidebar</a></li>
          <li><a href="no-sidebar.html">No Sidebar</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li class="submenu">
            <a href="">Submenu</a>
            <ul>
              <li><a href="#">Dolore Sed</a></li>
              <li><a href="#">Consequat</a></li>
              <li><a href="#">Lorem Magna</a></li>
              <li><a href="#">Sed Magna</a></li>
              <li><a href="#">Ipsum Nisl</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="/auth/sign_in" class="button special">Sign in</a></li>
    </ul>
  </nav>
</header>

<div class="container background-color-grey">
  <div class="main">
    <header class="special container">
      <span class="icon fa-tablet"><h2>Challenges</h2></span>      

      
    </header>
    
    <div class="gamma-container gamma-loading" id="gamma-container">

      <ul class="gamma-gallery">
        <% @images.each do |image| %>
        <li>
          <div data-alt="img<%=image.id%>" data-description="<h3><%=image.title%></h3>" data-max-width="1800" data-max-height="1350">
            <div data-src="<%= image.url %>#<%=image.id%>" data-min-width="140"></div>
          </div>
        </li>
        <% end %>
      </ul>

      <div class="gamma-overlay"></div>

      <div id="loadmore" class="loadmore">Example for loading more items...</div>

    </div>
  </div><!--/main-->
</div>