<section class="wrapper style4 special container small center-of-screen">
          
<!-- Content -->
  <div class="content">
    <% if @image && @image.errors.any? %>
        <div>
          <strong>There were some issues with the information you supplied, please fix them:</strong>
          <ul>
            <% @image.errors.full_messages.each do |image| %>
              <li><%= image %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    <form method="post" action="/images">
      <div class="row half no-collapse-1 margin-bottom-1">
        <div class="6u">
          <label class="visuallyhidden" for="url">URL</label>
          <input type="text" name="url" placeholder="URL" value="<%= @image && @image.url %>">
        </div>
        <div class="6u">
          <label class="visuallyhidden" for="title">Title</label>
          <input type="text" name="title" placeholder="Title" value="<%= @image && @image.title %>">
        </div>
      </div>
      <input type="submit" value="Submit" class="button special">
    </form>
  </div>

</section>